# Output files & directories

.nextflow*
work/
results/
report-*
trace-*
.DS_Store
null/

# Pixi

.pixi
*.egg-info

# Input data + exceptions

data/*
!data/README.md
!data/samplesheet.csv
!data/test
!data/paths/README.md
*.snarls
*.hapl
*.min
*.dist
