# Nextflow
work/
.nextflow*

# Grave
results/
tests/data/graph/*_indexes
tests/data/linear/*_indexes
tests/data/graph/additional_graphs/*_indexes

# nf-test
.nf-test.log
.nf-test/

# Other
.DS_Store
.vscode/
local_files/
