/*
----------------------------------------------------------------------------------------
Nextflow general configuration
----------------------------------------------------------------------------------------
*/

// Basic settings

	resume = true
	outputDir = 'results'

// Global default params

	params {

		// General

			help = null
			account = null
			email_report = false
			email = null

		// File input and mode

			graphMode = "haplo"
			multiRef = null
			graphDir = "${projectDir}/data"
			samplesheet = "${projectDir}/data/samplesheet.csv"
			pathsDir = "${projectDir}/data/paths"

		// Optional processes

			profilePMD = true
			graphDeconstruct = true
			vgGenotype = false
			freeBayes = true
			deepVariant = false

		// Graph index construction

			// Debug memory issues on graph distance indexing
			noNestedDistance = false

			// Haplotype subsampling indexing options
			aDNAkmerHaplSubSam = "21"
			aDNAwindowHaplSubSam = "11"
			modernKmerHaplSubSam = "29"
			modernWindowHaplSubSam = "11"

			// Filtered graph minimizer indexing options
			aDNAkmerMinimizer = "21"
			aDNAwindowMinimizer = "11"
			modernKmerMinimizer = "29"
			modernWindowMinimizer = "11"

		// FASTP

			discardUnmerged = false
			fastpDedup = false
			dupCalcAccuracy = "1"
			readDiscardLength = "30"

		// PANGENOME_MAP

			gamDiscardUnmapped = false
			gamFilterMapQ = true
			kffKmerMinimum = "2"
			minimumScorePrimaryAlign = "0.80"
			minimumMapQFilter = "30"
			keepRawGam = false

		// BAM_DEDUP

			duplicateTaggingPolicy = "DontTag"
			dedupConsiderBothEnds = true
			removeDuplicates = true

		// Variant calling

			// General
			maxNestLevel = "0"
			maxRefLength = "100000"
			samplePloidy = "2"
			minimumAlleleSupport = "2"
			keepRawVcf = false

			// VG_GENOTYPE
			minimumSiteSupport = "4"
			baselineErrorSmallVariants = "0.005"
			baselineErrorLargeVariants = "0.01"

			// FREEBAYES
			maxComplexGap = "3"
			minFraction = "0.05"

			// DEEPVARIANT
			deepVariantModelType = "WGS"

		// Internal

			trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
			tracing = false

	}

// Bash options

	process.shell = [
		"bash",
		"-C",			// No clobber - prevent output redirection from overwriting files.
		"-e",			// Exit if a tool returns a non-zero status/exit code
		"-u",			// Treat unset variables and parameters as an error
		"-o",			// Returns the status of the last command to exit..
		"pipefail"		//   ..with a non-zero status or zero if all successfully execute
	]

// Basic profiles

	profiles {

		debug {
			dumpHashes              = true
			process.beforeScript    = 'echo $HOSTNAME'
			cleanup                 = false
			nextflow.enable.configProcessNamesValidation = true
		}

		apptainer {
			apptainer.enabled       = true
			apptainer.autoMounts    = true
			apptainer.cacheDir      = "work/apptainer"
			apptainer.runOptions    = '--bind $HOME'
		}

		singularity {
			singularity.enabled     = true
			singularity.autoMounts  = true
			singularity.cacheDir    = "work/singularity"
		}

	}

// Resource profiles

	includeConfig 'conf/profiles.config'

// Modules config

	includeConfig 'conf/modules.config'

// Tracing

	timeline {

		enabled = params.tracing
		file = "${projectDir}/tracing/${params.trace_timestamp}_timeline.html"

	}

	report {

		enabled = params.tracing
		file = "${projectDir}/tracing/${params.trace_timestamp}_report.html"

	}

	trace {

		enabled = params.tracing
		file = "${projectDir}/tracing/${params.trace_timestamp}_trace.txt"

	}

	dag {

		enabled = params.tracing
		file = "${projectDir}/tracing/${params.trace_timestamp}_dag.png"

	}
