/*
----------------------------------------------------------------------------------------
Nextflow general configuration
----------------------------------------------------------------------------------------
*/

// Basic settings

	resume = true
	outputDir = 'results'

// Config files

	includeConfig 'conf/containers.config'
	includeConfig 'conf/parameters.config'
	includeConfig 'conf/profiles.config'

// Bash options

	process.shell = [
		"bash",
		"-C",			// No clobber - prevent output redirection from overwriting files.
		"-e",			// Exit if a tool returns a non-zero status/exit code
		"-u",			// Treat unset variables and parameters as an error
		"-o",			// Returns the status of the last command to exit..
		"pipefail"		//   ..with a non-zero status or zero if all successfully execute
	]
