// Pipeline manifest
manifest {

    name            = 'nbisweden/grave'
    contributors    = [
        [
            name: 'Cormac Kinsella',
            affiliation: 'National Bioinformatics Infrastructure Sweden (NBIS), Uppsala University',
            email: 'cormac.kinsella@nbis.se',
            github: 'https://github.com/CormacKinsella',
            contribution: ['author', 'maintainer']
        ]
    ]
    homePage        = 'https://github.com/NBISweden/grave'
    description     = 'A workflow for mapping and variant calling aDNA against pangenome graphs'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=25.10.2'
    version         = '2.0.0'

}

// Enable pipeline resume by default
resume = true

// Global default params
params {

    // General
    project                    = null

    // Input options
    steps                      = 'preprocess,index,align,merge,deduplicate,profile_pmd,graph_genotype,reads_genotype,variant_call'
    input                      = null
    reference                  = null
    reference_type             = null
    multiple_references        = null
    paths_dir                  = null

    // Optional processes
    freebayes                  = true
    deepvariant                = false

    // Debug memory issues on graph distance indexing
    noNestedDistance           = false

    // Haplotype subsampling indexing options
    aDNAkmerHaplSubSam         = 21
    aDNAwindowHaplSubSam       = 11
    modernKmerHaplSubSam       = 29
    modernWindowHaplSubSam     = 11

    // Filtered graph minimizer indexing options
    aDNAkmerMinimizer          = 21
    aDNAwindowMinimizer        = 11
    modernKmerMinimizer        = 29
    modernWindowMinimizer      = 11

    // FASTP
    discardUnmerged            = false
    fastpDedup                 = false
    dupCalcAccuracy            = 1
    readDiscardLength          = 30

    // GIRAFFE
    kffKmerMinimum             = 5
    gamDiscardUnmapped         = true
    gamFilterMapQ              = true
    minimumMapQFilter          = 30
    alignIdentityFilter        = true
    minimumScorePrimaryAlign   = 0.8
    gamDefrayEnds              = false
    defrayEndsLength           = 999
    keepRawGam                 = false

    // DEDUPLICATE_BAM
    duplicateTaggingPolicy     = "DontTag"
    dedupConsiderBothEnds      = true
    removeDuplicates           = true

    // Variant calling general
    maxNestLevel               = 0
    maxRefLength               = 100000
    samplePloidy               = 2
    minimumAlleleSupport       = 1
    keepRawVcf                 = false

    // GENOTYPE_READS
    minimumSiteSupport         = 4
    baselineErrorSmallVariants = 0.005
    baselineErrorLargeVariants = 0.01

    // FREEBAYES
    maxComplexGap              = 3
    minFraction                = 0.05

    // DEEPVARIANT
    deepVariantModelType       = "WGS"

    // Internal
    outdir                     = 'results'
    monochrome_logs            = false
    help                       = false
    help_full                  = false
    show_hidden                = false
    version                    = false
    trace_timestamp            = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
    tracing                    = false
    validate_params            = true
    config_profile_name        = null
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"

}

// Generic HPC config, override with specific profiles
includeConfig 'conf/base.config'

// Profiles
profiles {

    debug {
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        conda.channels          = ['conda-forge', 'bioconda']
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
    }
    docker {
        docker.enabled          = true
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    emulate_amd64 {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        apptainer.cacheDir      = "work/singularity"
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.cacheDir    = "work/singularity"
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    test {
        includeConfig 'conf/test.config'
    }

}

// Allow institutional configs
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Set container registry information
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'

// Bash options
process.shell = [
    "bash",
    "-C",           // No clobber - prevent output redirection from overwriting files.
    "-e",           // Exit if a tool returns a non-zero status/exit code
    "-u",           // Treat unset variables and parameters as an error
    "-o",           // Returns the status of the last command to exit..
    "pipefail"      //   ..with a non-zero status or zero if all successfully execute
]

// Universal output publishing settings
workflow {
    output {
        mode = 'copy'
        overwrite = false
    }
}

// Disable process selector warnings (use debug profile to enable)
nextflow.enable.configProcessNamesValidation = false

// Tracing
timeline {
    enabled = params.tracing
    file = "${projectDir}/results/01_pipeline_info/tracing/${params.trace_timestamp}_timeline.html"
}
report {
    enabled = params.tracing
    file = "${projectDir}/results/01_pipeline_info/tracing/${params.trace_timestamp}_report.html"
}
trace {
    enabled = params.tracing
    file = "${projectDir}/results/01_pipeline_info/tracing/${params.trace_timestamp}_trace.txt"
}
dag {
    enabled = params.tracing
    file = "${projectDir}/results/01_pipeline_info/tracing/${params.trace_timestamp}_dag.png"
}

// Plugins & validation
plugins {
    id 'nf-schema@2.6.1'
}

// Do not prompt updates to specific parameter defaults when running `nf-core pipelines schema build`
validation {
    defaultIgnoreParams = [
        "trace_timestamp"
    ]
}

// Modules config
includeConfig 'conf/modules.config'

// Tool resources
includeConfig 'conf/tool_resources.config'
