/*
----------------------------------------------------------------------------------------
Config for module level options

    Available keys to override module options:
		ext.args   = Additional arguments appended to command in module.
		ext.args2  = Second set of arguments appended to command in module (multi-tool modules).

----------------------------------------------------------------------------------------
*/

process {

	withName: 'MAKE_HAPL' {
		ext.args = params.noNestedDistance ? "--no-nested-distance" : null
	}

	withName: 'MAKE_FILTER' {
		ext.args = params.noNestedDistance ? "--no-nested-distance" : null
	}

	withName: 'FASTP' {
		ext.args = !params.discardUnmerged ? { "--out1 ${meta.id}.${meta.repeat}.fastp.um1.fq.gz --out2 ${meta.id}.${meta.repeat}.fastp.um2.fq.gz" } : null
	}

	withName: 'PANGENOME_MAP' {
		ext.args = params.gamDiscardUnmapped ? "--only-mapped" : null
		ext.args2 = params.gamFilterMapQ ? "--min-mapq ${params.minimumMapQFilter}" : null
	}

}
