/*
----------------------------------------------------------------------------------------
Config for module level options

    Available keys to override module options:
		ext.args   = Additional arguments appended to command in module.
		ext.args2  = Second set of arguments appended to command in module (multi-tool modules).

----------------------------------------------------------------------------------------
*/

process {

	withName: 'MAKE_HAPL' {
	}

	withName: 'MAKE_FILTER' {
	}

	withName: 'PROCESS_GRAPH' {
	}

	withName: 'COMPUTE_SNARLS' {
	}

	withName: 'FASTP' {
	}

	withName: 'FASTQC' {
	}

	withName: 'FASTQ_MERGE_DEDUP' {
	}

	withName: 'PANGENOME_MAP' {
	}

	withName: 'VG_SURJECT' {
	}

	withName: 'BAM_DEDUP' {
	}

	withName: 'PROFILE_PMD' {
	}

	withName: 'VG_DECONSTRUCT' {
	}

	withName: 'VG_GENOTYPE' {
	}

	withName: 'FREEBAYES' {
	}

	withName: 'DEEPVARIANT' {
	}

	withName: 'PROCESS_DEEPVARIANT' {
	}

}
