process {

    // PIPELINE_INITIALISATION
    withName: 'STANDARDISE_FASTA' {
        executor  = 'local'
    }

    // REFERENCE_UTILITIES
    withName: 'INDEX_UNFILTERED_GRAPH' {
        ext.args  = params.noNestedDistance ? "--no-nested-distance" : null
    }
    withName: 'INDEX_FILTERED_GRAPH' {
        ext.args  = params.noNestedDistance ? "--no-nested-distance" : null
    }

    // PREPROCESS_READS
    withName: 'RENAME_SAMPLES' {
        executor  = 'local'
    }
    withName: 'FASTP' {
        ext.args  = !params.discardUnmerged ? "--include_unmerged" : null
        ext.args2 = params.fastpDedup       ? "--dedup"            : null
    }

    // ALIGN_READS
    withName: 'GPU_GIRAFFE' {
        ext.args  = params.gpu_low_memory ? "--low-memory" : "--nstreams ${params.nstreams} --batch-size ${params.batch_size} --work-queue-capacity ${params.work_queue_capacity}"
        ext.args2 = params.minimizers_gpu ? "--minimizers-gpu" : null
    }
    withName: 'SAMTOOLS_FILTER_GPU' {
        ext.args  = params.gamDiscardUnmapped ? "--exclude-flags 4"                    : null
        ext.args2 = params.gamFilterMapQ      ? "--min-MQ ${params.minimumMapQFilter}" : null
    }
    withName: 'GIRAFFE' {
        ext.args  = params.gamDiscardUnmapped  ? "--only-mapped"                                        : null
        ext.args2 = params.gamFilterMapQ       ? "--min-mapq ${params.minimumMapQFilter}"               : null
        ext.args3 = params.alignIdentityFilter ? "--min-primary ${params.minimumScorePrimaryAlign} -fu" : null
        ext.args4 = params.gamDefrayEnds       ? "--defray-ends ${params.defrayEndsLength}"             : null
    }
    withName: 'GAM_TO_TAGGED_SORTED_BAM' {
        ext.args  = params.gamDiscardUnmapped ? "--exclude-flags 4" : null
    }
    withName: 'BWA_ALN_SAMSE' {
        ext.args  = "-l 16500 -n 0.01 -o 2"
        ext.args2 = params.bwaFilterMapQ ? "--min-MQ ${params.bwaMinimumMapQFilter}" : null
    }
    withName: 'BWA_MEM' {
        ext.args  = params.bwaFilterMapQ ? "--min-MQ ${params.bwaMinimumMapQFilter}" : null
    }

    // MERGE_BAMS


    // DEDUPLICATE_BAM
    withName: 'DEDUPLICATE' {
        ext.args  = params.dedupConsiderBothEnds ? "--FLOW_MODE --FLOW_USE_END_IN_UNPAIRED_READS" : null
    }

    // PROFILE_PMD


    // GENOTYPE


    // VARIANT_CALL

}
