/* 
----------------------------------------------------------------------------------------
Default parameter configuration
----------------------------------------------------------------------------------------
*/

// General params

	params.samplesheet = "samplesheet.csv"
	params.referenceMode = "haplo"

// Process specific params

	// FASTP
		params.dup_calc_accuracy = "3"
		params.read_discard_length = "30"

	// PANMAP

		params.kffKmerMinimum = "2"
		params.aDNAkmerValue = "17"
		params.aDNAminimiserValue = "11"
