/* 
----------------------------------------------------------------------------------------
Default parameter configuration
----------------------------------------------------------------------------------------
*/

// General params

	params.samplesheet = "samplesheet.csv"
	params.referenceMode = "haplo"

// Process params

	// Haplotype subsampling
		params.aDNAkmerHaplSubSam = "21"
		params.aDNAwindowHaplSubSam = "11"
		params.modernKmerHaplSubSam = "29"
		params.modernWindowHaplSubSam = "11"

	// Minimizer indexing
		params.aDNAkmerMinimizer = "17"
		params.aDNAwindowMinimizer = "11"
		params.modernKmerMinimizer = "29"
		params.modernWindowMinimizer = "11"

	// FASTP
		params.dupCalcAccuracy = "3"
		params.readDiscardLength = "30"

	// PANMAP
		params.kffKmerMinimum = "2"
