/* 
----------------------------------------------------------------------------------------
Default parameter configuration
----------------------------------------------------------------------------------------
*/

// General

	params.help = null
	params.account = params.account ? params.account : null
	params.email_report = false
	params.email = null

// Inputs

	params.graphMode = "haplo"
	params.multiRef = null
	params.graphDir = "${projectDir}/data"
	params.samplesheet = "${projectDir}/data/samplesheet.csv"
	params.pathsDir = "${projectDir}/data/paths"

// Optional outputs

	params.keepRawGam = false
	params.keepRawVcf = false

// Optional processes

	params.profilePMD = true
	params.graphDeconstruct = true
	params.vgMapCall = true
	params.freeBayes = true
	params.deepVariant = false

// Variant calling general

	params.maxNestLevel = "0"
	params.maxRefLength = "100000"
	params.samplePloidy = "2"
	params.minimumAlleleSupport = "1"

// Internal process params

	// Haplotype subsampling

		params.aDNAkmerHaplSubSam = "21"
		params.aDNAwindowHaplSubSam = "11"
		params.modernKmerHaplSubSam = "29"
		params.modernWindowHaplSubSam = "11"

	// Minimizer indexing

		params.aDNAkmerMinimizer = "17"
		params.aDNAwindowMinimizer = "11"
		params.modernKmerMinimizer = "29"
		params.modernWindowMinimizer = "11"

	// FASTP

		params.dupCalcAccuracy = "3"
		params.readDiscardLength = "30"

	// PANMAP

		params.kffKmerMinimum = "2"
		params.minimumScorePrimaryAlign = "0.90"
		params.minimumMapQFilter = "30"

	// VGMAPCALL

		params.minimumSiteSupport = "4"
		params.baselineErrorSmallVariants = "0.005"
		params.baselineErrorLargeVariants = "0.01"

	// DEEPVARIANT

		params.deepVariantModelType = "WGS"

	// FREEBAYES

		params.maxComplexGap = "20"
		params.minFraction = "0.01"
