/*
----------------------------------------------------------------------------------------
Profiles with individual process selector configurations
----------------------------------------------------------------------------------------
*/

profiles {

	standard {
		process.executor = 'local'
		process {
			resourceLimits = [
				memory: 16.GB,
				cpus: 16
			]
			withLabel: process_low {
				cpus = 2
				memory = 2.GB
			}
			withLabel: process_medium {
				cpus = 4
				memory = 4.GB
			}
			withLabel: process_high {
				cpus = 8
				memory = 8.GB
			}
		}
	}

	dardelSlurm {
		containerOptions = "-B /cfs/klemming/"
		apptainer {
			envWhitelist = 'PDC_TMP'
		}
		executor {
			name = 'slurm'
			account = params.account
			jobName = { "${task.name.tokenize(':')[-1].replaceAll(/[^a-zA-Z0-9]/, '_')}_${task.hash.take(10)}".replaceAll(/_+/, '_') }
			queueSize = 1000
		}
		process {
			errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'terminate' }
			maxRetries = 2
			scratch = '$PDC_TMP'
			resourceLimits = [
				memory: 1790.GB,
				cpus: 128,
				time: 7.d
			]
			withLabel: process_low {
				queue = 'shared'
				cpus = 16
				memory = { 40.GB * task.attempt }
				time = { 8.h * task.attempt }
			}
			withLabel: process_medium {
				queue = 'main'
				clusterOptions = '--nodes=1'
				cpus = 64
				memory = { 230.GB * task.attempt }
				time = { 12.h * task.attempt }
			}
			withLabel: process_high {
				queue = 'memory'
				clusterOptions = '--nodes=1'
				cpus = 64
				memory = { 1000.GB * task.attempt }
				time = { 24.h * task.attempt }
			}
		}
	}

	rackhamSlurm {
		apptainer {
			envWhitelist = 'SNIC_TMP'
		}
		executor {
			name = 'slurm'
			account = params.account
			jobName = { "${task.name.tokenize(':')[-1].replaceAll(/[^a-zA-Z0-9]/, '_')}_${task.hash.take(10)}".replaceAll(/_+/, '_') }
			queueSize = 1000
		}
		process {
			errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'terminate' }
			maxRetries = 2
			scratch = '$SNIC_TMP'
			resourceLimits = [
					memory: 1000.GB,
					cpus: 20,
					time: 10.d
			]
			withLabel: process_low {
				queue = 'core'
				cpus = 4
				memory = { 24.GB * task.attempt }
				time = { 12.h * task.attempt }
			}
			withLabel: process_medium {
				queue = 'core'
				cpus = 10
				memory = { 64.GB * task.attempt }
				time = { 24.h * task.attempt }
			}
			withLabel: process_high {
				queue = 'node'
				clusterOptions = '--nodes=1'
				cpus = 20
				memory = { 540.GB * task.attempt }
				time = { 24.h * task.attempt }
			}
		}
	}

}
