/*
----------------------------------------------------------------------------------------
Profiles with individual process selector configurations
----------------------------------------------------------------------------------------
*/

profiles {

	standard {
		process.executor = 'local'
		process {
			withLabel: process_single {
				cpus = 1
				memory = 1.GB
			}
			withLabel: process_low {
				cpus = 2
				memory = 2.GB
			}
			withLabel: process_medium {
				cpus = 4
				memory = 4.GB
			}
			withLabel: process_high {
				cpus = 16
				memory = 15.GB
			}
		}
	}

	dardelSlurm {
		containerOptions = "-B /cfs/klemming/projects"
		executor {
			name = 'slurm'
			account = 'naiss2024-22-619'
			jobName = { "$task.name - $task.hash" }
		}
		process {
			withLabel: process_single {
				queue = shared
				cpus = { 2 * task.attempt }
				memory = { 1600.MB * task.attempt }
				time = { 2.h * task.attempt }
				errorStrategy { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
				maxRetries 3
			}
			withLabel: process_low {
				queue = shared
				cpus = { 16 * task.attempt }
				memory = { 13.GB * task.attempt }
				time = { 4.h * task.attempt }
				errorStrategy { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
				maxRetries 4
			}
			withLabel: process_medium {
				queue = long
				cpus = 128
				memory = 230.GB
				time = { 24.h * task.attempt }
				errorStrategy { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
				maxRetries 2
			}
			withLabel: process_high {
				queue = memory
				cpus = 128
				memory = 460.GB
				time = { 24.h * task.attempt }
				errorStrategy { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
				maxRetries 2
			}
		}
	}

	dardelLocal {
		process.executor = 'local'
		containerOptions = "-B /cfs/klemming/projects"
		executor {
			cpus = 128
			memory = 240.GB
		}
		process {
			withLabel: process_single {
				cpus = 2
				memory = 2.GB
			}
			withLabel: process_low {
				cpus = 16
				memory = 12.GB
			}
			withLabel: process_medium {
				cpus = 32
				memory = 26.GB
			}
			withLabel: process_high {
				cpus = 64
				memory = 48.GB
			}
		}
	}

	rackhamLocal {
		process.executor = 'local'
		containerOptions = "-B $SNIC_TMP"
		process {
			withLabel: process_single {
				cpus = 2
				memory = 10.GB
			}
			withLabel: process_low {
				cpus = 6
				memory = 30.GB
			}
			withLabel: process_medium {
				cpus = 8
				memory = 42.GB
			}
			withLabel: process_high {
				cpus = 10
				memory = 54.GB
			}
		}
	}

	rackhamSlurm {
		process.executor = 'slurm'
		containerOptions = "-B $SNIC_TMP"
	    scratch = '$SNIC_TMP'
		process {
			withLabel: process_single {
				cpus = 2
				memory = 10.GB
				time: 4.h
			}
			withLabel: process_low {
				cpus = 6
				memory = 30.GB
				time: 12.h
			}
			withLabel: process_medium {
				cpus = 10
				memory = 50.GB
				time: 24.h
			}
			withLabel: process_high {
				cpus = 20
				memory = 120.GB
				time: 24.h
			}
		}
	}

}
