/*
----------------------------------------------------------------------------------------
Profiles with individual process selector configurations
----------------------------------------------------------------------------------------
*/

profiles {

	standard {

		process.executor = 'local'

		process {
			withLabel: process_single {
				cpus = 1
				memory = 1.GB
			}
			withLabel: process_low {
				cpus = 2
				memory = 2.GB
			}
			withLabel: process_medium {
				cpus = 4
				memory = 4.GB
			}
			withLabel: process_high {
				cpus = 16
				memory = 15.GB
			}
		}
	}

	dardelLocal {

		process.executor = 'local'
		containerOptions = "-B /cfs/klemming/projects"

		process {
			withLabel: process_single {
				cpus = 2
				memory = 2.GB
			}

			withLabel: process_low {
				cpus = 16
				memory = 14.GB
			}

			withLabel: process_medium {
				cpus = 32
				memory = 28.GB
			}

			withLabel: process_high {
				cpus = 64
				memory = 56.GB

			}

		}

	}

	rackhamLocal {

		process.executor = 'local'
		containerOptions = "-B $SNIC_TMP"

		process {
			withLabel: process_single {
				cpus = 2
				memory = 10.GB
			}

			withLabel: process_low {
				cpus = 6
				memory = 30.GB
			}

			withLabel: process_medium {
				cpus = 8
				memory = 42.GB
			}

			withLabel: process_high {
				cpus = 10
				memory = 54.GB

			}

		}

	}

}

