process {

    // REFERENCE_UTILITIES

        withName: 'COMPUTE_SNARLS' {
            memory  = 120.GB
        }

    // PREPROCESS_READS

    // ALIGN_READS

        withName: 'GPU_PREPROCESS' {
            cpus   = 16
        }
        withName: 'GPU_GIRAFFE' {
            stageInMode     = params.align_stage_in_mode
            accelerator     = params.gpu_resources ? (params.gpu_resources.contains(':') ? params.gpu_resources.split(':')[1] as int : params.gpu_resources as int) : 1
            cpus            = 16
            memory          = 120.GB
            time            = 4.h
            clusterOptions  = {
                [
                    "-A ${params.project}",
                    params.clusterOptions ?: "",
                    "-p ${params.gpu_partition ?: 'gpu'}",
                    "--gpus=${params.gpu_resources ?: '1'}",
                ].minus("").join(" ")
            }
            containerOptions = {
                workflow.containerEngine in ['singularity', 'apptainer']
                    ? "--${params.apptainer_gpu_flag}"
                    : '--gpus all'
                }
        }
        withName: 'GIRAFFE' {
            stageInMode = params.align_stage_in_mode
            cpus        = 64
            memory      = 120.GB
            time        = 24.h
        }
        withName: 'BWA_ALN_SAMSE' {
            stageInMode = params.align_stage_in_mode
            time        = 36.h
        }
        withName: 'BWA_MEM' {
            stageInMode = params.align_stage_in_mode
        }

    // MERGE_BAMS

    // DEDUPLICATE_BAM

    // PROFILE_PMD

        withName: 'DAMAGE_PROFILER' {
            memory = 64.GB
            time   = 12.h
        }

    // GENOTYPE

        withName: 'GENOTYPE_READS' {
            memory = 144.GB
            time   = 12.h
        }

    // VARIANT_CALL

        withName: 'FREEBAYES_PARALLEL' {
            cpus   = 4
            memory = 144.GB
        }
        withName: 'GRAPH_DEEPVARIANT' {
            memory = 128.GB
        }

}
