process {

    // REFERENCE_UTILITIES

        withName: 'COMPUTE_SNARLS' {
            memory  = 120.GB
        }

    // PREPROCESS_READS

    // ALIGN_READS

        withName: 'GPU_GIRAFFE' {
            containerOptions = { workflow.containerEngine in ['singularity', 'apptainer'] ? '--nv': '--gpus all' }
        }
        withName: 'GIRAFFE' {
            cpus   = 64
            memory = 120.GB
            time   = 24.h
        }
        withName: 'BWA_ALN_SAMSE' {
            time   = 36.h
        }

    // MERGE_BAMS

    // DEDUPLICATE_BAM

    // PROFILE_PMD

        withName: 'DAMAGE_PROFILER' {
            memory = 64.GB
            time   = 12.h
        }

    // GENOTYPE

        withName: 'GENOTYPE_READS' {
            memory = 144.GB
            time   = 12.h
        }

    // VARIANT_CALL

        withName: 'FREEBAYES_PARALLEL' {
            cpus   = 4
            memory = 144.GB
        }
        withName: 'GRAPH_DEEPVARIANT' {
            memory = 128.GB
        }

}
