process {

    // REFERENCE_UTILITIES

        withName: 'COMPUTE_SNARLS' {
            memory  = 80.GB
        }

    // PREPROCESS_READS

    // ALIGN_READS

        withName: 'GIRAFFE' {
            cpus   = 24
            memory = 120.GB
            time   = 16.h
        }
        withName: 'BWA_ALN_SAMSE' {
            time   = 36.h
        }

    // MERGE_BAMS

    // DEDUPLICATE_BAM

    // PROFILE_PMD

    // GENOTYPE

    // VARIANT_CALL

}
